<div class="footer h-auto text-white" >
    <div class="footer-inner bgc-black-tp4 pt-5 pb-3">
        <div class="container container-plus">
            <div class="row">
                <div class="col-12">
                    <div class="">
                        <img src="~/images/kssp-logo.png" alt="">
                      </div>
                </div>
            </div>

            <div class="text-center mt-45">
                <span class="text-white">
                </span>
                <!-- <div class="text-150 mt-2">
                    <i class="bgc-black-tp6 p-25 radius-round fab fa-twitter text-blue-l2 mx-1"></i>
                    <i class="bgc-black-tp6 p-25 radius-round fab fa-facebook text-blue-m2 mx-1"></i>
                    <i class="bgc-black-tp6 p-25 radius-round fab fa-instagram text-purple-m3 mx-1"></i>
                </div> -->
            </div>

        </div><!-- /.container -->
    </div><!-- /.footer-inner -->
</div><!-- /.footer -->
<div class="footer-tools">
    <a href="#" class="btn-scroll-up btn btn-orange px-25 py-2 text-95 border-2 radius-round mb-2 mr-2">
        <i class="fa fa-arrow-up w-2 h-2"></i>
    </a>
</div>

