<nav class="navbar navbar-dark">
  <div class="navbar-inner shadow-sm border-b-1 brc-grey-l2">
    <div class="container">
      <a href='@Url.Action("Index", "Home")'>
        <div class="kssp-logo">
          <img src="~/images/kssp-logo.png" alt="">
        </div>
      </a>
    </div>
  </div>
  
</nav>

