<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime executionTimeout="100000" maxRequestLength="400000000" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" lockItem="false" />
  </system.web>
  <system.webServer>
    <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Kerrysiamseaport.Externalepod.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="400000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>